@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    border-right: 1px solid rgb(163, 201, 247);
    border-bottom: 1px solid rgb(163, 201, 247);
    cursor: pointer;
}